<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %>
<script>
    setTimeout(() => {
        alert("Sesion expirada!!");
        window.location.href = "/admin/logout"; 
    }, 15 * 60 * 1000 ); //900000
</script>
<body>
    <header >
        <div class="contenedor header-productos">
            <div class="logo">
                <img src="/img/beauscent.png" alt="">
            </div>
            <div class="nombres">
                <p>Torales Sasha Micaela, Vázquez Luz</p>
            </div>
            <nav class="navegacion">
                <a href="/admin/logout">Salir</a>
            </nav>
        </div>
    </header> 
<main class="productos">
    <section class="hero">
        <h1>BeauScent Productos</h1>
        <button onclick="location.href='/admin/formABMproductos'" class="boton" id="nuevoProd">
            Agregar nuevo
        </button>
    </section>

    <section class="categories" id="categories">
        <div class="category">
            <h2>PERFUMES</h2>
            <div class="box pink" id="perfume">
                <div class="producto">
                    <% data.filter(p => p.categoria === "Perfume").forEach(p => { %>
                        <div class="dato-prod">
                            <h3><%= p.nombre.charAt(0).toUpperCase() + p.nombre.slice(1); %></h3>
                            <img class="imagen" src="<%= p.fotoProducto %>" alt="<%= p.nombre %>">
                            <h3><%= p.precio %>$</h3>
                            
                                <button onclick="location.href='/admin/formABMproductos/<%= p.id %>'" class="boton">Editar</button>
                                <% if (p.activo ) { %>
                                    <form action="/admin/desactivar/<%= p.id %>" method="post" ">
                                        <button type="submit" class="boton">Desactivar</button>
                                    </form>
                                <% } else { %>
                                    <form action="/admin/activar/<%= p.id %>" method="post" ">
                                        <button type="submit" class="boton">Activar</button>
                                    </form>
                                <% } %>
                            
                        </div>
                    <% }) %>
                </div>
            </div>
        </div> 
        <div class="category"> 
            <h2>SKINCARE</h2>
            <div class="box mint" id="skincare">
                <div class="producto">
                    <% data.filter(p => p.categoria === "Skincare").forEach(p => { %>
                    <h3><%= p.nombre.charAt(0).toUpperCase() + p.nombre.slice(1); %> </h3>
                    <img class="imagen" src="<%= p.fotoProducto %>" alt="<%= p.nombre %>">
                    <h3><%= p.precio %>$</h3>
                        <button onclick="location.href='/admin/formABMproductos/<%= p.id %>'" class="boton">Editar</button>
                        <% if (p.activo ) { %>
                            <form action="/admin/desactivar/<%= p.id %>" method="post" style="display:inline;">
                                <button type="submit" class="boton">Desactivar</button>
                            </form>
                        <% } else { %>
                            <form action="/admin/activar/<%= p.id %>" method="post" ;">
                                <button type="submit" class="boton">Activar</button>
                            </form>
                        <% } %>
                    <% }) %>
                </div>
            </div>
        </div>
        </section>

        
    </section>


</main>
    <%- include('partials/footer') %>
</body>
</html>