<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %>
<script>
    setTimeout(() => {
        alert("Sesion expirada!!");
        window.location.href = "/admin/logout"; 
    }, 15 * 60 * 1000 ); //900000
</script>
<body>
    <header >
        <div class="contenedor header-productos">
            <div class="logo">
                <img src="/img/beauscent.png" alt="beauscent" onclick="location.href='/admin/dashboard'">
            </div>
            <div class="nombres">
                <p>Torales Sasha Micaela, Vázquez Luz</p>
            </div>
            <nav class="navegacion">
                <a href="/admin/logout"><i class="fa-solid fa-right-to-bracket" style="color: #b48191;"></i></a>
            </nav>
        </div>
    </header> 
<main class="productos">
    <section class="hero">
        <h1>BeauScent Productos</h1>
        <button onclick="location.href='/admin/formABMproductos'" class="boton" id="nuevoProd">
            Agregar nuevo
        </button>
    </section>

    <section class="categories" id="categories">
        <div id="modalConfirmacion" class="modal-admin" style="display: none;">
            <div class="modal-content-admin">
                <p>Confirmar</p>
                <button class="boton" id="confirmar">Sí, confirmar</button>
                <button class="boton" id="cancelar">Cancelar</button>
            </div>
        </div>
        <div class="category">
            <h2>PERFUMES</h2>
            <div class="box pink" id="perfume">
                <div class="producto">
                    <% data.filter(p => p.categoria === "Perfume").forEach(p => { %>
                        <div class="dato-prod">
                            <h3><%= p.nombre.charAt(0).toUpperCase() + p.nombre.slice(1); %></h3>
                            <img class="imagen" src="<%= p.fotoProducto %>" alt="<%= p.nombre %>">
                            <h3><%= p.precio %>$</h3>
                            
                                <button onclick="location.href='/admin/formABMproductos/<%= p.id %>'" class="boton">Editar</button>
                                <% if (p.estado ) { %>
                                    <form action="/admin/desactivar/<%= p.id %>" method="post" style="display:inline;">
                                        <button type="button" class="boton boton-confirmar">Desactivar</button>
                                    </form>
                                <% } else { %>
                                    <form action="/admin/activar/<%= p.id %>" method="post" style="display:inline;">
                                        <button type="button" class="boton boton-confirmar">Activar</button>
                                    </form>
                                <% } %>
                            
                        </div>
                    <% }) %>
                </div>
            </div>
        </div> 
        <div class="category"> 
            <h2>SKINCARE</h2>
            <div class="box mint" id="skincare">
                <div class="producto">
                    <% data.filter(p => p.categoria === "Skincare").forEach(p => { %>
                    <h3><%= p.nombre.charAt(0).toUpperCase() + p.nombre.slice(1); %> </h3>
                    <img class="imagen" src="<%= p.fotoProducto %>" alt="<%= p.nombre %>">
                    <h3><%= p.precio %>$</h3>
                        <button onclick="location.href='/admin/formABMproductos/<%= p.id %>'" class="boton">Editar</button>
                        <% if (p.estado ) { %> 
                            <form action="/admin/desactivar/<%= p.id %>" method="post" style="display:inline;">
                                <button type="button" class="boton boton-confirmar">Desactivar</button>
                            </form>
                        <% } else { %>
                            <form action="/admin/activar/<%= p.id %>" method="post" style="display:inline;">
                                <button type="button" class="boton boton-confirmar">Activar</button>
                            </form>
                        <% } %>
                    <% }) %>
                </div>
            </div>
        </div>
        </section>

        
    </section>

    <%- include('partials/btnTheme') %>
</main>
    <%- include('partials/footer') %>

    <script>
    const modal = document.getElementById('modalConfirmacion');
    const confirmar = document.getElementById('confirmar');
    const cancelar = document.getElementById('cancelar');

    let formularioSeleccionado = null;

    document.querySelectorAll('.boton-confirmar').forEach(btn => {
        btn.addEventListener('click', (e) => {
            e.preventDefault();
            formularioSeleccionado = btn.closest('form');
            modal.style.display = 'block';
        });
    });

    confirmar.addEventListener('click', () => {
        if (formularioSeleccionado) {
            formularioSeleccionado.submit();
        }
        modal.style.display = 'none';
        formularioSeleccionado = null;
    });

    cancelar.addEventListener('click', () => {
        modal.style.display = 'none';
        formularioSeleccionado = null;
    });

    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = 'none';
            formularioSeleccionado = null;
        }
    };
</script>

<script>
    const params = new URLSearchParams(window.location.search);
    if (params.get("error") === "sinStock") {
        alert("¡NO SE PUEDEN ACTIVAR PRODUCTOS SIN STOCK!");
    }
</script>
</body>
</html>