<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %>
<body>
    <header>
        <div class="contenedor header-productos">
            <div class="logo">
                <img src="/img/beauscent.png" alt="beauscent" onclick="location.href='/admin/dashboard'">
            </div>
            <div class="nombres">
                <p>Torales Sasha Micaela, Vázquez Luz</p>
            </div>
            <nav class="navegacion">
                <a href="/admin/dashboard"><i class="fa-solid fa-bag-shopping" style="color: #b48191;"></i></a>
            </nav>
        </div>
    </header>
    <main>
        <div class="ingresar">
            <% if (modo === "alta") { %>
                <h1>Alta producto</h1>
                <form method="POST" action="/admin/nuevoProducto" enctype="multipart/form-data">
            <% } %>
            <% if (modo === "modificar") { %>
                <h1>Modificar Producto</h1>
                <form method="POST" action="/admin/producto/modificar/<%= producto[0].id %>" enctype="multipart/form-data" >
                    <!-- Campo oculto para conservar la imagen actual si no se sube una nueva -->
                    <input type="hidden" name="fotoActual" value="<%= producto[0].fotoProducto %>">
            <% } %>
                <input class="input-text" type="text" name="nombre"  id="nombre" required placeholder="Ingrese Nombre" value="<%= producto && producto[0] ? producto[0].nombre : '' %>"><br>
                <input class="input-text" type="text" name="precio" min="0" id="precio" required placeholder="Ingrese Precio"pattern="\d+(.\d{1,2})?" value="<%= producto && producto[0] ? producto[0].precio.replace(',', '.') : '' %>"><br>
                <input class="input-text" type="number" name="stock" min="0" id="stock" required placeholder="Ingrese Cantidad"value="<%= producto && producto[0] ? producto[0].stock : '' %>"><br>
                <input
                class="input-text"
                type="file"
                name="foto"
                id="foto"
                ><br>

                <select class="input-text" name="category" id="category">
                    <option value="none"
                        <% if (!producto || !producto[0] || !producto[0].categoria) { %>
                            selected
                        <% } %>
                    ></option>
                    <option value="Skincare" <%= producto && producto[0] && producto[0].categoria === 'Skincare' ? 'selected' : '' %>>Skincare</option>
                    <option value="Perfume" <%= producto && producto[0] && producto[0].categoria === 'Perfume' ? 'selected' : '' %>>Perfume</option>
                </select><br>
                <button type="button" onclick="location.href='/admin/dashboard'" class="boton">Cancelar</button>
                <button type="submit" class="boton">Guardar</button>
            </form>
        </div>
        <%- include('partials/btnTheme') %>
    </main>
    <%- include('partials/footer') %>
</body>
</html>
