<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %>
<body>
    <%- include('partials/header') %>
    <main>
        <div class="ingresar">
            <%if(modo === "alta"){%>
                <h1>Alta producto</h1>
                <form method="POST" action="/nuevoProducto">
            <% } %>
            <%if(modo === "modificar") {%>
                <h1>Modificar Producto</h1>
                <form method="POST" action="/editado">
            <% } %>
            
                <input class="input-text" type="text" id="nombre" required placeholder="Ingrese Nombre" value="<%= producto?.nombre || '' %>"><br>
                <input class="input-text" type="text" min="0" id="precio" required placeholder="Ingrese Precio" pattern="\d+(.\d{1,2})?" value="<%= producto?.precio ? producto.precio.replace(',', '.') : '' %>"><br>
                <input class="input-text" type="number" min="0" id="stock" required placeholder="Ingrese CantidadCantidad" value="<%= producto?.stock || '' %>"><br> 
                <input class="input-text" type="image" id="foto" required placeholder="Ingrese foto del nuevo producto" value="<%= producto?.fotoProducto || '' %>"><br>
                <button type="button" onclick="location.href='/admin/dashboard'" class="boton">Cancelar</button>
                <button type="submit" class="boton">Guardar</button> 
            </form>
        </div>
    </main>
    <%- include('partials/footer') %>
</body>
</html>
</html>